.header-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;

  &__image {
    flex: 1;
    max-width: 20rem;
  }

  &__image-img {
    max-width: 100%;
    height: auto;
  }

  &__navbar {
    flex: 2;
    text-align: right;
  }
}
