<div class="footer">
  <section class="footer__info">
    <article class="footer__info-block">
      <div class="footer__logo">
        <img
          src="assets/images/imgCulturaSegura.png"
          alt="Logo representativo Cultura Segura"
        />
      </div>
    </article>
    <article class="footer__info-block">
      <div class="footer__contact">
        <div class="footer__contact-item">
          <p class="footer__contact-email">
            comunicaciones&#64;culturasegura.com
          </p>
        </div>
        <div class="footer__contact-item">
          <p class="footer__contact-address">
            Cl 60B Sur # 44 - 100 ED Latitud Sur Of 717, Sabaneta - Colombia
          </p>
        </div>
        <div class="footer__contact-item">
          <p class="footer__contact-phone">(+57) 321 7564122 - Sede Colombia</p>
        </div>
      </div>
      <div class="footer__icons">
        <p>iconos</p>
      </div>
    </article>
  </section>
  <section class="footer__links">
    <div class="footer__links-item">
      <a href="" class="footer__link">Políticas de tratamiento de datos</a>
    </div>
    <div class="footer__links-item">
      <a href="" class="footer__link">PQRSF</a>
    </div>
    <div class="footer__links-item">
      <a href="" class="footer__link">Quiero trabajar en Cultura Segura</a>
    </div>
  </section>
</div>
