.about {
  width: 100%;
  position: relative;

  &__section {
    width: 100%;
    position: relative;
    &--values {
      background-color: #ffffff;
      width: 95%;
      margin: 0 auto;
    }
    &--make {
      &__title {
        h3 {
          font-size: 2rem;
          color: #85868c;
          text-align: center;
          margin-top: 2rem;
          font-family: Arial, Helvetica, sans-serif;
        }
        span {
          color: #ffffff;
          background-color: #5494d4;
        }
      }

      &__buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 5rem;
        margin-bottom: 1rem;

        img {
          font-size: 2rem;
          margin-bottom: 0.5rem;
        }
        h3 {
          margin: 0.5rem 0 0 0;
        }
      }
      &__button {
        color: #4d4d4d;
        background-color: #ffffff;
        border: none;
        cursor: pointer;
        transition: background-color 0.5s, transform 0.5s;
        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;
      }
      &__display {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 95%;
        height: 10rem;
        margin: 3rem auto;
        padding: 0.3rem;
        background-color: #5494d4;
        color: #ffffff;
        border-radius: 0.5rem;
        border: 0.1rem solid #0056b3;
        overflow: hidden;

        // Titulo del display
        h3 {
          font-size: 2.5rem;
          font-weight: bold;
          width: 25%;
          margin: 0;
        }

        // Texto del display
        p {
          font-size: 1.3rem;
          text-align: start;
          width: 70%;
          margin: 0.3rem 0 0 0;
        }
      }
    }
    &--Purpose {
      background-color: #ffffff;
      margin-top: -3rem;
      &__article {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 2rem;
        &--container {
          width: 50%;
          margin: 2rem auto;
          &--box {
            display: flex;
            flex-direction: row;
          }
        }
      }
    }
  }

  &__section--intro {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;

    &__image {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__section--values,
  &__section--Purpose,
  &__section--Allies,
  &__section--talk,
  &__section--Accompany {
    position: relative;
    z-index: 2;
    width: 100%;
  }
}
