<nav class="navbar">
  <ul class="navbar__list">
    <li class="navbar__item">
      <a class="navbar__link" routerLink="/home" routerLinkActive="active"
        >Home</a
      >
    </li>
    <li class="navbar__item">
      <a class="navbar__link" routerLink="/about" routerLinkActive="active"
        >About</a
      >
    </li>
    <li class="navbar__item">
      <a
        class="navbar__link"
        routerLink="/model-cultura"
        routerLinkActive="active"
        >Model Cultura</a
      >
    </li>
    <li class="navbar__item">
      <a
        class="navbar__link"
        routerLink="/comunication"
        routerLinkActive="active"
        >Comunication</a
      >
    </li>
    <li class="navbar__item">
      <a class="navbar__link" routerLink="/contact" routerLinkActive="active"
        >Contact</a
      >
    </li>
    <li class="navbar__item">
      <a class="navbar__link" routerLink="/blog" routerLinkActive="active"
        >Blog</a
      >
    </li>
  </ul>
</nav>
