<nav>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/about" routerLinkActive="active">About</a></li>
    <li>
      <a routerLink="/model-cultura" routerLinkActive="active">Model Cultura</a>
    </li>
    <li>
      <a routerLink="/comunication" routerLinkActive="active">Comunication</a>
    </li>
    <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    <li><a routerLink="/blog" routerLinkActive="active">Blog</a></li>
  </ul>
</nav>
