<div class="home">
  <section class="home__section home__section--intro">
    <div class="home__section--intro__block">
      <img
        class="home__section--intro__image"
        src="assets/images/BANNER-WEB_NUEVO-01.png"
        alt="Logo representativo Cultura Segura"
      />
    </div>
  </section>

  <section class="home__section home__section--make">
    <article class="home__section--make__title">
      <h3>ASÍ LO HACEMOS</h3>
    </article>
    <article class="home__section--make__description">
      <p>
        Inmersos en su organización, nuestro Modelo Cultura Segura® orienta su
        compañía hacia la cultura del autocuidado y seguridad, incrementando a
        la vez:
      </p>
    </article>
    <article>
      <div class="home__section--make__buttons">
        <button
          class="home__section--make__button"
          (click)="
            updateText(
              'Madurez',
              'Aspirar al máximo nivel de Cultura en SST (Vanguardista) caracterizado por la innovación, admisión del error como oportunidad de mejora, espíritu colaborativo, aporte a productividad, equipos seguros y saludables, BIG DATA SST, indicadores ejemplares en Seguridad y Salud en el Trabajo y altos resultados en Sostenibilidad.'
            )
          "
        >
          <img src="assets/icon/INSUMOS-03.png" alt="Icono Cohete" />
          <h3>Madurez</h3>
        </button>
        <button
          class="home__section--make__button"
          (click)="
            updateText(
              'Productividad',
              'Lograr la alineación de la SST con la cadena productiva reflejada en indicadores financieros como el ORE (overall resource effectiveness), el EVA, el Flujo de Caja Libre, el EBITDA, entre otros.'
            )
          "
        >
          <img src="assets/icon/INSUMOS-04.png" alt="Icono Panel" />
          <h3>Productividad</h3>
        </button>
        <button
          class="home__section--make__button"
          (click)="
            updateText(
              'Sostenibilidad',
              'Elevar la capacidad de los procesos para no generar daño en las personas, medio ambiente y bienes de la organización.'
            )
          "
        >
          <img src="assets/icon/INSUMOS-05.png" alt="Icono grafico" />
          <h3>Sostenibilidad</h3>
        </button>
        <button
          class="home__section--make__button"
          (click)="
            updateText(
              'Rentabilidad',
              'Conocer el retorno a la inversión de la Cultura Segura® en su organización por medio del EBITDA del proyecto.'
            )
          "
        >
          <img src="assets/icon/INSUMOS-06.png" alt="Icono rentabilidad" />
          <h3>Rentabilidad</h3>
        </button>
        <button
          class="home__section--make__button"
          (click)="
            updateText(
              'Bienestar Humano',
              'Instaurar el cuidado de la vida como valor supremo, reflejándose en la labor conjunta de los equipos de trabajo.'
            )
          "
        >
          <img src="assets/icon/INSUMOS-07.png" alt="Icono bienestar humano" />
          <h3>Bienestar Humano</h3>
        </button>
      </div>
      <div class="home__section--make__display">
        <h3>{{ displayHeader }}</h3>
        <p>{{ displayText }}</p>
      </div>
    </article>
  </section>

  <section class="home__section home__section--stages">
    <article class="home__section--stages__article">
      <h3 class="home__section--stages__article--title">
        NUESTRO MODELO CULTURA SEGURA® EN 3 ETAPAS
      </h3>
    </article>
    <article class="home__section--stages__home">
      <div class="home__section--stages__home--step">
        <div class="home__section--stages__home--step__number">
          <p class="home__section--stages__home--step__number--num1">1</p>
        </div>
        <div class="home__section--stages__home--step__text">
          <p>Vivir la organización <br /><span>(diagnóstico)</span></p>
        </div>
      </div>
      <div class="home__section--stages__home--step">
        <div class="home__section--stages__home--step__number">
          <p class="home__section--stages__home--step__number--num2">2</p>
        </div>
        <div class="home__section--stages__home--step__text">
          <p>
            Transformar la cultura
            <span
              ><br />
              (Plan de acción)</span
            >
          </p>
        </div>
      </div>
      <div class="home__section--stages__home--step">
        <div class="home__section--stages__home--step__number">
          <p class="home__section--stages__home--step__number--num3">3</p>
        </div>
        <div class="home__section--stages__home--step__text">
          <p>
            Generar autonomía <br />
            <span>(Certificación de Cultura Segura Instaurada)</span>
          </p>
        </div>
      </div>
    </article>
    <article class="home__section--stages__button">
      <button class="home__section--stages__button--learnMore">
        CONOCER MÁS
      </button>
    </article>
  </section>

  <section class="home__section home__section--findOut">
    <h2 class="home__section--findOut__title">
      ENTÉRATE DE LO ÚLTIMO SOBRE CULTURA SEGURA
    </h2>
  </section>

  <section class="home__section home__section--latest">
    <article class="home__section--latest__article">
      <div class="home__section--latest__article--image">
        <img
          src="assets/images/happy-businesspeople-standing.jpg"
          alt="Logo representativo Cultura Segura"
        />
      </div>
      <div class="home__section--latest__article--content">
        <div class="home__section--latest__article--content__info">
          <h3 class="home__section--latest__article--content__info--title">
            Guía para construir hábitos que cuidan la vida
          </h3>
          <p class="home__section--latest__article--content__info--date">
            enero 17, 2022
          </p>
          <p class="home__section--latest__article--content__info--text">
            Muchas organizaciones quieren reducir su accidentalidad, lograr la
            descentralización de la SST, y por supuesto, que ello traiga menor
            ausentismo laboral, aumentar la productividad, el bienestar en los
            colaboradores y muchas cosas más, todas ellas nunca se
            materializarán si no se ha logrado la construcción de buenos hábitos
            y la conciencia para que todos actúen…
          </p>
          <button class="home__section--latest__article--content__info--button">
            Leer más
          </button>
        </div>
      </div>
    </article>
    <article class="home__section--latest__article">
      <div class="home__section--latest__article--image">
        <img
          src="assets/images/1545_D-1800x1200.jpg"
          alt="Logo representativo Cultura Segura"
        />
      </div>
      <div class="home__section--latest__article--content">
        <div class="home__section--latest__article--content__info">
          <h3 class="home__section--latest__article--content__info--title">
            Consciencia Situacional
          </h3>
          <p class="home__section--latest__article--content__info--date">
            julio 24, 2020
          </p>
          <p class="home__section--latest__article--content__info--text">
            La cultura organizacional está marcada fundamentalmente por los
            factores humanos, los cuales inciden en su efectividad para
            gestionar los riesgos, ya que en la medida que se presta atención y
            se toman decisiones sobre la aplicación de los factores humanos, es
            posible reducir considerablemente las probabilidades que se generen
            errores en actividades rutinarias o no…
          </p>
          <button class="home__section--latest__article--content__info--button">
            Leer más
          </button>
        </div>
      </div>
    </article>
    <article class="home__section--latest__article">
      <div class="home__section--latest__article--image">
        <img
          src="assets/images/Cabezote-Inmersion-1200x301.jpg"
          alt="Logo representativo Cultura Segura"
        />
      </div>
      <div class="home__section--latest__article--content">
        <div class="home__section--latest__article--content__info">
          <h3 class="home__section--latest__article--content__info--title">
            La inmersión como acelerador de la transformación cultural
          </h3>
          <p class="home__section--latest__article--content__info--date">
            diciembre 13, 2019
          </p>
          <p class="home__section--latest__article--content__info--text">
            Por: Hugo Londoño C – Psicólogo, Dir. de Innovación Cultura Segura®
            ¿Dónde está la fuerza misteriosa dentro de un equipo deportivo que
            sobresale entre los demás? ¿Dónde están los emisores de esa energía
            sostenida que hace que una organización crezca y se mantenga entre
            las mejores de un contexto específico? La respuesta está en el…
          </p>
          <button class="home__section--latest__article--content__info--button">
            Leer más
          </button>
        </div>
      </div>
    </article>
  </section>

  <section class="home__section home__section--blogs">
    <article class="home__section--blogs__article">
      <div class="home__section--blogs__article--box">
        <div class="home__section--blogs__article--box__img">
          <img
            src="assets/images/happy-businesspeople-standing-in-office-showing-thumb-up-min-scaled-728x485.jpg"
            alt="Logo representativo Cultura Segura"
          />
        </div>
        <div class="home__section--blogs__article--box__content">
          <div class="home__section--blogs__article--box__content--info">
            <h3
              class="home__section--blogs__article--box__content--info__title"
            >
              Guía para construir hábitos que cuidan la vida
            </h3>
            <p class="home__section--blogs__article--box__content--info__date">
              enero 17, 2022
            </p>
            <p class="home__section--blogs__article--box__content--info__text">
              Muchas organizaciones quieren reducir su accidentalidad, lograr la
              descentralización de la SST, y por supuesto, que ello traiga menor
              ausentismo laboral, aumentar la productividad, el bienestar en los
              colaboradores y muchas cosas más, todas ellas nunca se
              materializarán si no se ha logrado la construcción de buenos
              hábitos y la conciencia para que todos actúen…
            </p>
            <button
              class="home__section--blogs__article--box__content--info__readMore"
            >
              Leer más
            </button>
          </div>
        </div>
      </div>
      <div class="home__section--blogs__article--box">
        <div class="home__section--blogs__article--box__img">
          <img
            src="assets/images/1545_D-1800x1200.jpg"
            alt="Logo representativo Cultura Segura"
          />
        </div>
        <div class="home__section--blogs__article--box__content">
          <div class="home__section--blogs__article--box__content--info">
            <h3
              class="home__section--blogs__article--box__content--info__title"
            >
              Consciencia Situacional
            </h3>
            <p class="home__section--blogs__article--box__content--info__date">
              julio 24, 2020
            </p>
            <p class="home__section--blogs__article--box__content--info__text">
              La cultura organizacional está marcada fundamentalmente por los
              factores humanos, los cuales inciden en su efectividad para
              gestionar los riesgos, ya que en la medida que se presta atención
              y se toman decisiones sobre la aplicación de los factores humanos,
              es posible reducir considerablemente las probabilidades que se
              generen errores en actividades rutinarias o no…
            </p>
            <button
              class="home__section--blogs__article--box__content--info__readMore"
            >
              Leer más
            </button>
          </div>
        </div>
      </div>
      <div class="home__section--blogs__article--box">
        <div class="home__section--blogs__article--box__img">
          <img
            src="assets/images/404-728x485.jpg"
            alt="Logo representativo Cultura Segura"
          />
        </div>
        <div class="home__section--blogs__article--box__content">
          <div class="home__section--blogs__article--box__content--info">
            <h3
              class="home__section--blogs__article--box__content--info__title"
            >
              La 3 variables fundamentales de la transformación cultural en
              Seguridad y Salud en Trabajo
            </h3>
            <p class="home__section--blogs__article--box__content--info__date">
              julio 10, 2020
            </p>
            <p class="home__section--blogs__article--box__content--info__text">
              ABSTRACT Obtener un programa sostenible que promueva e instaure la
              cultura en seguridad y salud en el trabajo requiere adoptar e
              integrar a la medida de las necesidades de cada organización, las
              herramientas propias de tres metodologías aplicadas a las
              organizaciones: El Desarrollo Organizacional, que engloba lo que
              se conoce como “Gestión del Cambio”, “Comportamiento…
            </p>
            <button
              class="home__section--blogs__article--box__content--info__readMore"
            >
              Leer más
            </button>
          </div>
        </div>
      </div>
      <div class="home__section--blogs__article--box">
        <div class="home__section--blogs__article--box__img">
          <img
            src="assets/images/FOTO-GUIA-PRÁCTICA-01-728x485.png"
            alt="Logo representativo Cultura Segura"
          />
        </div>
        <div class="home__section--blogs__article--box__content">
          <div class="home__section--blogs__article--box__content--info">
            <h3
              class="home__section--blogs__article--box__content--info__title"
            >
              Guía para minimizar el riesgo de contagio por COVID-19
            </h3>
            <p class="home__section--blogs__article--box__content--info__date">
              junio 26, 2020
            </p>
            <p class="home__section--blogs__article--box__content--info__text">
              Autor: Equipo de expertos – Cultura Segura® Si eres gerente o
              líder del área SST y recursos humanos, sabrás que la prevención
              nunca había sido tan importante para la humanidad como en este
              momento, por ello te invitamos a no bajar la guardia y a reforzar
              siempre los controles para minimizar los riesgos de contagio…
            </p>
            <button
              class="home__section--blogs__article--box__content--info__readMore"
            >
              Leer más
            </button>
          </div>
        </div>
      </div>
      <div class="home__section--blogs__article--box">
        <div class="home__section--blogs__article--box__img">
          <img
            src="assets/images/36102-728x485.jpg"
            alt="Logo representativo Cultura Segura"
          />
        </div>
        <div class="home__section--blogs__article--box__content">
          <div class="home__section--blogs__article--box__content--info">
            <h3
              class="home__section--blogs__article--box__content--info__title"
            >
              Multiplicando comportamientos de autocuidado
            </h3>
            <p class="home__section--blogs__article--box__content--info__date">
              julio 1, 2020
            </p>
            <p class="home__section--blogs__article--box__content--info__text">
              Hugo Londoño – Director Innovación Cultura Segura. “La educación
              es lo que sobrevive cuando lo que se ha aprendido se ha olvidado”.
              B. F. Skinner ¿Por qué hay personas que no se cuidan o bajan la
              guardia con comportamientos de autocuidado cuando aún estamos en
              medio de la pandemia? El autocuidado es un comportamiento…
            </p>
            <button
              class="home__section--blogs__article--box__content--info__readMore"
            >
              Leer más
            </button>
          </div>
        </div>
      </div>
      <div class="home__section--blogs__article--box">
        <div class="home__section--blogs__article--box__img">
          <img
            src="assets/images/Cabezote-Inmersion-604x403.jpg"
            alt="Logo representativo Cultura Segura"
          />
        </div>
        <div class="home__section--blogs__article--box__content">
          <div class="home__section--blogs__article--box__content--info">
            <h3
              class="home__section--blogs__article--box__content--info__title"
            >
              La inmersión como acelerador de la transformación cultural
            </h3>
            <p class="home__section--blogs__article--box__content--info__date">
              diciembre 13, 2019
            </p>
            <p class="home__section--blogs__article--box__content--info__text">
              Por: Hugo Londoño C – Psicólogo, Dir. de Innovación Cultura
              Segura® ¿Dónde está la fuerza misteriosa dentro de un equipo
              deportivo que sobresale entre los demás? ¿Dónde están los emisores
              de esa energía sostenida que hace que una organización crezca y se
              mantenga entre las mejores de un contexto específico? La respuesta
              está en el…
            </p>
            <button
              class="home__section--blogs__article--box__content--info__readMore"
            >
              Leer más
            </button>
          </div>
        </div>
      </div>
      <div class="home__section--blogs__article--box">
        <div class="home__section--blogs__article--box__img">
          <img
            src="assets/images/Cabezote-A2-Aceptabilidad-del-riesgo-604x403.jpg"
            alt="Logo representativo Cultura Segura"
          />
        </div>
        <div class="home__section--blogs__article--box__content">
          <div class="home__section--blogs__article--box__content--info">
            <h3
              class="home__section--blogs__article--box__content--info__title"
            >
              La aceptabilidad del riesgo como herramienta gerencial
            </h3>
            <p class="home__section--blogs__article--box__content--info__date">
              diciembre 13, 2019
            </p>
            <p class="home__section--blogs__article--box__content--info__text">
              Por: Hugo Londoño C – Psicólogo, Dir. de Innovación Cultura
              Segura® Isabel Cadavid R – Psicóloga, Gerente Cultura Segura®
              Artículo para sustentación a título posgrado en SST año 2018 Las
              decisiones gerenciales en seguridad y salud en el trabajo suelen
              ser orientadas por las variables técnicas del control de riesgos y
              por el blindaje jurídico…
            </p>
            <button
              class="home__section--blogs__article--box__content--info__readMore"
            >
              Leer más
            </button>
          </div>
        </div>
      </div>
    </article>
  </section>

  <section class="home__section home__section--contact">
    <article class="home__section--contact__article1">
      <div class="home__section--contact__article1--container">
        <div class="home__section--contact__article1--container__title">
          <p>
            SUSCRÍBASE A NUESTRO NEWSLETTER ENTÉRESE DE LAS ÚLTIMAS NOTICIAS Y
            NOVEDADES.
          </p>
        </div>
        <div class="home__section--contact__article1--container__dataFields">
          <div
            class="home__section--contact__article1--container__dataFields--input"
          >
            <input type="text" placeholder="Nombre" /><input
              type="email"
              placeholder="Correo electrónico"
            />
          </div>
          <div
            class="home__section--contact__article1--container__dataFields--button"
          >
            <button>SUSCRIBIRME</button>
          </div>
        </div>
      </div>
    </article>
    <article class="home__section--contact__article2">
      <div class="home__section--contact__article2--customers">
        <p>CLIENTES</p>
      </div>
      <div class="home__section--contact__article2--gallery">
        <div class="home__section--contact__article2--gallery__container">
          <button
            class="home__section--contact__article2--gallery__arrow home__section--contact__article2--gallery__arrow--left"
            (click)="prevImage()"
          >
            &#10094;
          </button>
          <div class="home__section--contact__article2--gallery__images">
            <div
              #galleryWrapper
              class="home__section--contact__article2--gallery__images__wrapper"
            >
              <img
                *ngFor="let image of images; let i = index"
                [src]="image"
                [class.active]="i === currentIndex"
                alt="Image {{ i + 1 }}"
              />
            </div>
          </div>
          <button
            class="home__section--contact__article2--gallery__arrow home__section--contact__article2--gallery__arrow--right"
            (click)="nextImage()"
          >
            &#10095;
          </button>
        </div>
      </div>
    </article>
  </section>

  <section class="home__section home__section--subscribe">
    <div class="home__section--subscribe__container">
      <p class="home__section--subscribe__container--title">
        ¡EL MOMENTO ES AHORA!
      </p>
      <p class="home__section--subscribe__container--text">
        Aumente el valor de su organización y reduzca accidentes y enfermedades,
        que incrementen la operatividad y generen un cambio en su compañía.
      </p>
      <button class="home__section--subscribe__container--button">
        SOLICITAR ASESORÍA
      </button>
    </div>
  </section>
</div>
