<div class="home">
  <section class="home__section home__section--intro">
    <div class="home__section--intro__block">
      <img
        class="home__section--intro__image"
        src="assets/images/BANNER-WEB_NUEVO-01.png"
        alt="Logo representativo Cultura Segura"
      />
    </div>
  </section>

  <section class="home__section home__section--make">
    <article class="home__section--make__title">
      <h3>ASÍ LO HACEMOS</h3>
    </article>
    <article class="home__section--make__description">
      <p>
        Inmersos en su organización, nuestro Modelo Cultura Segura® orienta su
        compañía hacia la cultura del autocuidado y seguridad, incrementando a
        la vez:
      </p>
    </article>
    <article>
      <div class="home__section--make__buttons">
        <button
          class="home__section--make__button"
          (click)="
            updateText(
              'Madurez',
              'Aspirar al máximo nivel de Cultura en SST (Vanguardista) caracterizado por la innovación, admisión del error como oportunidad de mejora, espíritu colaborativo, aporte a productividad, equipos seguros y saludables, BIG DATA SST, indicadores ejemplares en Seguridad y Salud en el Trabajo y altos resultados en Sostenibilidad.'
            )
          "
        >
          <img src="assets/icon/INSUMOS-03.png" alt="Icono Cohete" />
          <h3>Madurez</h3>
        </button>
        <button
          class="home__section--make__button"
          (click)="
            updateText(
              'Productividad',
              'Lograr la alineación de la SST con la cadena productiva reflejada en indicadores financieros como el ORE (overall resource effectiveness), el EVA, el Flujo de Caja Libre, el EBITDA, entre otros.'
            )
          "
        >
          <img src="assets/icon/INSUMOS-04.png" alt="Icono Panel" />
          <h3>Productividad</h3>
        </button>
        <button
          class="home__section--make__button"
          (click)="
            updateText(
              'Sostenibilidad',
              'Elevar la capacidad de los procesos para no generar daño en las personas, medio ambiente y bienes de la organización.'
            )
          "
        >
          <img src="assets/icon/INSUMOS-05.png" alt="Icono grafico" />
          <h3>Sostenibilidad</h3>
        </button>
        <button
          class="home__section--make__button"
          (click)="
            updateText(
              'Rentabilidad',
              'Conocer el retorno a la inversión de la Cultura Segura® en su organización por medio del EBITDA del proyecto.'
            )
          "
        >
          <img src="assets/icon/INSUMOS-06.png" alt="Icono rentabilidad" />
          <h3>Rentabilidad</h3>
        </button>
        <button
          class="home__section--make__button"
          (click)="
            updateText(
              'Bienestar Humano',
              'Instaurar el cuidado de la vida como valor supremo, reflejándose en la labor conjunta de los equipos de trabajo.'
            )
          "
        >
          <img src="assets/icon/INSUMOS-07.png" alt="Icono bienestar humano" />
          <h3>Bienestar Humano</h3>
        </button>
      </div>
      <div class="home__section--make__display">
        <h3>{{ displayHeader }}</h3>
        <p>{{ displayText }}</p>
      </div>
    </article>
  </section>

  <section class="home__section home__section--b">
    <article class="home__article">
      <h3 class="home__article__title">
        NUESTRO MODELO CULTURA SEGURA® EN 3 ETAPAS
      </h3>
    </article>
    <article class="home__article">
      <div class="home__step">
        <div class="home__step__number home__step__number--num1"><p>1</p></div>
        <div class="home__step__text">
          <p>Vivir la organización <br /><span>(diagnóstico)</span></p>
        </div>
      </div>
      <div class="home__step">
        <div class="home__step__number home__step__number--num2"><p>2</p></div>
        <div class="home__step__text">
          <p>
            Transformar la cultura
            <span
              ><br />
              (Plan de acción)</span
            >
          </p>
        </div>
      </div>
      <div class="home__step">
        <div class="home__step__number home__step__number--num3"><p>3</p></div>
        <div class="home__step__text">
          <p>
            Generar autonomía <br />
            <span>(Certificación de Cultura Segura Instaurada)</span>
          </p>
        </div>
      </div>
    </article>
    <article class="home__article home__article--button-section-b">
      <button class="home__button--b">CONOCER MÁS</button>
    </article>
  </section>

  <section class="home__section home__section--c">
    <h2 class="home__section__title">
      ENTÉRATE DE LO ÚLTIMO SOBRE CULTURA SEGURA
    </h2>
  </section>
  <section class="home__section home__section--d">
    <article class="home__article">
      <div class="home__article__image">
        <img
          src="assets/images/happy-businesspeople-standing.jpg"
          alt="Logo representativo Cultura Segura"
        />
      </div>
      <div class="home__article__content">
        <h3 class="home__article__title">
          Guía para construir hábitos que cuidan la vida
        </h3>
        <p class="home__article__date">enero 17, 2022</p>
        <p class="home__article__text">
          Muchas organizaciones quieren reducir su accidentalidad, lograr la
          descentralización de la SST, y por supuesto, que ello traiga menor
          ausentismo laboral, aumentar la productividad, el bienestar en los
          colaboradores y muchas cosas más, todas ellas nunca se materializarán
          si no se ha logrado la construcción de buenos hábitos y la conciencia
          para que todos actúen…
        </p>
        <button class="home__article__button">Leer más</button>
      </div>
    </article>
    <article class="home__article">
      <div class="home__article__image">
        <img
          src="assets/images/1545_D-1800x1200.jpg"
          alt="Logo representativo Cultura Segura"
        />
      </div>
      <div class="home__article__content">
        <h3 class="home__article__title">Consciencia Situacional</h3>
        <p class="home__article__date">julio 24, 2020</p>
        <p class="home__article__text">
          La cultura organizacional está marcada fundamentalmente por los
          factores humanos, los cuales inciden en su efectividad para gestionar
          los riesgos, ya que en la medida que se presta atención y se toman
          decisiones sobre la aplicación de los factores humanos, es posible
          reducir considerablemente las probabilidades que se generen errores en
          actividades rutinarias o no…
        </p>
        <button class="home__article__button">Leer más</button>
      </div>
    </article>
    <article class="home__article">
      <div class="home__article__image">
        <img
          src="assets/images/Cabezote-Inmersion-1200x301.jpg"
          alt="Logo representativo Cultura Segura"
        />
      </div>
      <div class="home__article__content">
        <h3 class="home__article__title">
          La inmersión como acelerador de la transformación cultural
        </h3>
        <p class="home__article__date">diciembre 13, 2019</p>
        <p class="home__article__text">
          Por: Hugo Londoño C – Psicólogo, Dir. de Innovación Cultura Segura®
          ¿Dónde está la fuerza misteriosa dentro de un equipo deportivo que
          sobresale entre los demás? ¿Dónde están los emisores de esa energía
          sostenida que hace que una organización crezca y se mantenga entre las
          mejores de un contexto específico? La respuesta está en el…
        </p>
        <button class="home__article__button">Leer más</button>
      </div>
    </article>
  </section>

  <section class="home__section home__section--e"></section>
  <section class="home__section home__section--f"></section>
</div>
